
.search-bar-container {
    background: url('../../assets/img/440326-sci-fi.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    padding-bottom: 30px;
    
    h1 {
        color: white;
        margin: 0;
        padding: 30px;
    }
  
    input {
      border: 2px solid black;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      outline: 0;
      text-align: center;
      margin: 30 auto;
      line-height: 2rem;
    }
  }